.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black; /* Choose your background color */
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white; /* Choose your text color */
    text-decoration: none;
    padding: 0 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #4caf50; /* Green color */
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #007bff; /* Blue color */
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

a {
    color: #007bff; /* Blue color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
