<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ranking</title>
    <link rel="stylesheet" type="text/css" href="/css/animeMusic.css">
</head>
<script>
    function searchList() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchBar");
        filter = input.value.toUpperCase();
        table = document.querySelector(".container table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            var animeNames = tr[i].getElementsByTagName("td")[1];
            var genre = tr[i].getElementsByTagName("td")[2];
            var watchAgain = tr[i].getElementsByTagName("td")[9];

            // Concatenate text content for Anime Name, Anime Song, and Artist
            txtValue = (animeNames ? animeNames.textContent || animeNames.innerText : "")
                + (genre ? genre.textContent || genre.innerText : "")
                + (watchAgain ? watchAgain.textContent || watchAgain.innerText : "");

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
<body>
<div class="navbar">
    <a href="/">
        <img src="/images/Logo/ScrapBox.PNG" alt="Your Logo">
    </a>
    <nav class="nav-links">
        <a href="/AnimeSortedMusicList">Anime Music List</a>
        <a href="/animeList">Anime List</a>
        <!--


        <a href="/events">Events</a>
        <a href="/draft-sim">Draft Sim</a>
        <a href="/cubes">Cubes</a>
        <a href="/forums">Forums</a>
        <a href="/rules-q-a">Rules Q&A</a>
        <a href="/community">Community</a>
        -->
        <a>
        <label for="searchBar">Search:</label>
        <input type="text" id="searchBar" oninput="searchList()" placeholder="Type to search">
        </a>
    </nav>
</div>
<div class="container" style="display: flex; justify-content: space-between;">
    <div>
        <h1>My Anime Ranking</h1>
    </div>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Anime Name</th>
            <th>Genre</th>
            <th>Very Bad</th>
            <th>Bad</th>
            <th>Okay</th>
            <th>Good</th>
            <th>very Good</th>
            <th>Times Watched</th>
            <!--
            <th>Link to Anime</th>
            <th>Date Started</th>
            <th>Last Time Watched</th>
            <th>Dub/Sub</th>
            <th>Manga Read?</th>
            <th>Manga Link</th>
            -->

            <th>Watch again?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime : ${animelist}">
            <td th:text="${anime.id}">1</td>
            <td th:text="${anime.animeNames}">Anime Name</td>
            <td th:text="${anime.genre}">genre</td>
            <td th:text="${anime.veryBad}">Flamingo Boy</td>
            <td th:text="${anime.bad}">bad</td>
            <td th:text="${anime.okay}">bad</td>
            <td th:text="${anime.good}">bad</td>
            <td th:text="${anime.veryGood}">bad</td>
            <td th:text="${anime.timesWatched}"></td>
            <td th:text="${anime.watchAgain}">bad</td>
            <!--
            <td>
                <a th:href="${anime.link}" target="_blank">Link</a>
            </td>
            <td th:text="${anime.dateStarted}">bad</td>
            <td th:text="${anime.lastTimeWatched}">bad</td>
            <td th:text="${anime.dubSub}">bad</td>
            <td th:text="${anime.mangaRead}">bad</td>
            <td>
                <a th:href="${anime.mangaLink}" target="_blank">Link</a>
            </td>
            -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>