<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Music List</title>
    <link rel="stylesheet" type="text/css" href="/css/animeMusic.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <a href="/">
            <img src="/image/Scrapbasket.png" alt="Your Logo">
        </a>
        <div class="nav-links">
            <!--
            <a href="/deck-builder">Deck Builder</a>
            <a href="/mtg-cards">MTG Cards</a>
            <a href="/events">Events</a>
            <a href="/draft-sim">Draft Sim</a>
            <a href="/cubes">Cubes</a>
            <a href="/forums">Forums</a>
            <a href="/rules-q-a">Rules Q&A</a>
            <a href="/community">Community</a>
            -->
        </div>
    </div>
    <h1>Anime Songs I like before 2024</h1>
    <h2>Past songs in no particular order</h2>
    <!-- Dropdown menu to select sorting option -->
    <form th:action="@{/AnimeMusticList}" method="get" style="display: inline-block; margin-right: 20px;">
        <label for="sortOption">Sort by:</label>
        <select id="sortOption" name="sortOption">
            <option value="default">Default</option>
            <option value="anime name">anime name</option>
            <option value="song">Song</option>
            <option value="artist">Artist</option>
            <!-- Add more options for different sorting criteria if needed -->
        </select>
        <button type="submit">Sort</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Anime Name</th>
            <th>Anime Song</th>
            <th>Artist</th>
            <th>OP/ED/IN</th>
            <th>Anime Link</th>
            <th>Official Link</th>
            <th>Alternative Link</th>
            <th>Anime Song Lyrics</th>
            <th>Last Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="music : ${animemusiclist}">
            <td th:text="${music.id}">1</td>
            <td th:text="${music.animeName}">Anime Name</td>
            <td th:text="${music.animeSong}">Something</td>
            <td th:text="${music.artist}">Flamingo Boy</td>
            <td th:text="${music.opedin}">opening</td>
            <td>
                <a th:href="${music.animeLink}" target="_blank">Anime Link</a>
            </td>
            <td>
                <a th:href="${music.officialLink}" target="_blank">Offical Link</a>
            </td>
            <td>
                <a th:href="${music.alternativeLink}" target="_blank">Alternative Link</a>
            </td>
            <td>
                <a th:href="${music.animeSongLyrics}" target="_blank">Anime Lyrics</a>
            </td>
            <td th:text="${music.lastUpdate}">link here</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>