<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/animeMusic.css">

    <script>
        function searchList() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.querySelector(".container table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                var animeNames = tr[i].getElementsByTagName("td")[1];
                var genre = tr[i].getElementsByTagName("td")[3];
                var watchAgain = tr[i].getElementsByTagName("td")[4];
                var DubSub = tr[i].getElementsByTagName("td")[8];

                txtValue = (animeNames ? animeNames.textContent || animeNames.innerText : "")
                    + (genre ? genre.textContent || genre.innerText : "")
                    + (watchAgain ? watchAgain.textContent || watchAgain.innerText : "")
                    + (DubSub ? DubSub.textContent || DubSub.innerText : "");

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
</head>
<body>
<div class="navbar">
    <a href="/">
        <img src="/images/Logo/ScrapBox.PNG" alt="Your Logo">
    </a>
    <nav class="nav-links">
        <a href="/AnimeSortedMusicList">Anime Music List</a>
        <a href="/ranking">Anime Ranking</a>
        <a>
            <label for="searchBar">Search:</label>
            <input type="text" id="searchBar" oninput="searchList()" placeholder="Type to search">
        </a>
    </nav>
</div>
<div class="container" style="display: flex; justify-content: space-between;">
    <div>
        <h1>My Anime List</h1>
    </div>
    <div>
        <form th:action="@{/animeList}" method="get">
            <label for="sortOption">Sort by:</label>
            <select id="sortOption" name="sortOption">
                <option value="default">Default</option>
                <option value="anime name">Anime Name</option>
                <option value="genre">Genre</option>
                <option value="date started">Date Started</option>
                <option value="last time watched">Last Time Watched</option>
                <option value="DubSub">Dub/Sub</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </div>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Anime Name</th>
            <!--
            <th>Anime Link</th>
            -->
            <th>Genre</th>
            <th>Rewatch?</th>
            <th>Date Started</th>
            <th>Last Update</th>
            <th>Dub/Sub</th>
            <th>Manga Read?</th>
            <!--
            <th>Manga Link</th>
            -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime : ${animelist}">
            <td th:text="${anime.id}">1</td>
            <td th:text="${anime.animeNames}">Anime Name</td>
            <!--
            <td>
                <a th:href="${anime.link}" target="_blank">Link</a>
            </td>
            -->
            <td th:text="${anime.genre}">genre</td>
            <td th:text="${anime.watchAgain}">bad</td>
            <td th:text="${anime.dateStarted}">bad</td>
            <td th:text="${anime.lastTimeWatched}">bad</td>
            <td th:text="${anime.dubSub}">bad</td>
            <td th:text="${anime.mangaRead}">bad</td>

            <!--
            <td th:if="${#strings.equalsIgnoreCase(anime.mangaRead, 'yes')}">
                <a th:href="${anime.mangaLink}" target="_blank">Link</a>
            </td>
            <td th:unless="${#strings.equalsIgnoreCase(anime.mangaRead, 'yes')}"></td>
            -->
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div class="navbar">
        <a href="/">
        </a>
    </div>
</footer>
</body>
</html>