<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Music Index</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="navbar">
    <a href="/">
        <img src="/images/Logo/ScrapBox.PNG" alt="Your Logo">
    </a>
    <div class="nav-links">
        <!--
        <a href="/deck-builder">Deck Builder</a>
        <a href="/mtg-cards">MTG Cards</a>
        <a href="/events">Events</a>
        <a href="/draft-sim">Draft Sim</a>
        <a href="/cubes">Cubes</a>
        <a href="/forums">Forums</a>
        <a href="/rules-q-a">Rules Q&A</a>
        <a href="/community">Community</a>
        -->
    </div>
</div>
<div class="container">
    <h1>Index Page</h1>

    <!-- Link to Anime List -->
    <a th:href="@{/AnimeMusticList}">- Go to Anime Song List</a>
</div>
</body>
</html>
