<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Music Index</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="navbar">
    <a href="/">
        <img src="/images/Logo/ScrapBox.PNG" alt="Your Logo">
    </a>
    <div class="nav-links">
        <!--
        <a href="/deck-builder">Deck Builder</a>
        <a href="/mtg-cards">MTG Cards</a>
        <a href="/events">Events</a>
        <a href="/draft-sim">Draft Sim</a>
        <a href="/cubes">Cubes</a>
        <a href="/forums">Forums</a>
        <a href="/rules-q-a">Rules Q&A</a>
        <a href="/community">Community</a>
        -->
    </div>
</div>
<div class="container">
    <h1>Index Page</h1>

    <div class="boxContainer">
        <!-- Box 1 -->
        <div class="box box1">
            <h2>Anime List</h2>
            <p>Go to watch my list of animes i have watched throughout the years.</p>
            <a href="/animeList">Go to my anime list</a>
        </div>

        <!-- Box 2 -->
        <div class="box box2">
            <h2>Anime Song List</h2>
            <p>Go to the list of anime songs i like in random order</p>
            <a href="/AnimeMusticList">Go to my anime music list</a>
        </div>

        <!-- Box 3 -->
        <div class="box">
            <h2>Manga List - Not made yet!</h2>
            <p>Here you can see a list of all the manga i have read throughout the year</p>
            <p>Note: Still to come.</p>
            <a href="/MangaList">Go to my manga list</a>
        </div>
    </div>
    <div class="boxContainer">
        <!-- Box 4 -->
        <div class="box box1">
            <h2>Magic Card Decks</h2>
            <p>Here you can see my Magic the Gatherings decks.</p>
            <a href="https://tappedout.net/users/Scrapbasket/deck-folders/">Go to my MTG Decks</a>
        </div>

        <!-- Box 2 -->
        <div class="box box2">
            <h2>MTG Collection - Not made yet!</h2>
            <p>Here you can see my Magic the Gathering Collection, with prices and everything.</p>
            <a href="/MTGCollection">Go to my MTG Collection</a>
        </div>

        <!-- Box 3 -->
        <div class="box box3">
            <h2>Kontakt</h2>
            <p>Hold dig opdateret</p>
            <p>You can find me on my github page.</p>
            <a href="https://github.com/Mapo0004StudKea">Go to my github</a>
        </div>
    </div>
</div>
</body>
</html>
